.container-ruleta{
  margin: 0 auto;
  position: relative;
  width: 350px;
}

.multimetro{
  display: flex;
  margin: auto;
  background-image: url("../../img/multimetro.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 275px;
}

.aguja {
  position: absolute;
  height: 250px;
  width: 10px;
  background-color: red;
  bottom: -20px;
  left: 160px;
  transition: all 2s ease-in-out;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.comboBox-servicio-promedio{
  width: 200px;
}

.foto-partido {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 40%;
}
