.container-ruleta{
  margin: 0 auto;
  position: relative;
  width: 350px;
}

.multimetro{
  display: flex;
  margin: auto;
  background-image: url("../../img/medidor.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 275px;
}

.aguja {
  position: absolute;
  height: 250px;
  width: 10px;
  background-color: red;
  bottom: -20px;
  left: 160px;
  transition: all 2s ease-in-out;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.cont-master-comboBoxs{
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}
.container-comboBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin-bottom: 10px;
  padding-right: 10px;
}
.container-segundo-comboBox{
  display: flex;
  align-items: center;
  height: 35px;
}
.title-comboBox{
  padding-right: 5px;
  font-size: 13px;
  font-weight: bold;
}
.comboBox-servicio-promedio{
  width: 170px;
  height: 30px;
  background-color: #EBEBEB;
  border-radius: 3px;
  border-color: red;
  outline: none;
}
.comboBox-segundo-servicio-promedio{
  width: 170px;
  height: 30px;
  background-color: #EBEBEB;
  border-radius: 3px;
  border-color: blue;
  outline: none;
}
.foto-partido {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 70%;
}
.foto-partido2{
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 10%;
}
.calificacion{
  display: flex;
  align-items: center;
  color: red;
  padding-left: 10px;
  font-size: 23px;
}
.calificacion2{
  display: flex;
  align-items: center;
  color: #3A47C0;
  padding-left: 10px;
  font-size: 23px;
}
