.container-header{
  height: 100px;
  width: 100%;
  border-bottom: solid 4px #404040;
}
.title-multimetro{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
.cont-rulet{
  margin: 0 auto;
  height: 400px;
  width: 600px;
}
.parrafo-multimetro{
  width: 34%;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

@media (max-width : 570px) {
  .parrafo-multimetro{
    width: 90%;
    transition: 1s;
  }
}